@{
    ViewData["Title"] = "Supporter Home Page";
    @model User;
    
}


    <div class="text-center">
        <div class="align-items-center d-flex flex-row justify-content-between">
            <h1 class="display-1">Supporter</h1>

            <!-- TODO: Add Settings Icon?-->
            <form method="post" action="Settings">
                <button class="btn btn-dark">Settings</button>
            </form>
        </div>
        <h1 class="display-4 jumbotron">Welcome @LoggedInUser.LoggedInUsr.Username!</h1>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column align-items-start border p-3 w-50">
                <h5>Trending</h5>
                <h6>
                    <a href="#">project 1</a>
                </h6>
                <p style="font-size:12px"> This project is ... posted 22 minutes ago </p>
                <h6>
                    <a href="#">project 2</a>
                </h6>
                <p style="font-size:12px"> This project is ... posted 43 minutes ago </p>
                <h6>
                    <a href="#">project 3</a>
                </h6>
                <p style="font-size:12px"> This project is ... posted 1 hour ago</p>
            </div>
            <div class="d-flex flex-column align-items-start border p-3 w-50">
                <h5>News/Events/Hackathons</h5>
                <h6>
                    <a href="#">event 1</a>
                </h6>
                <p style="font-size:12px"> Event description ... </p>
                <h6>
                    <a href="#">event 2</a>
                </h6>
                <p style="font-size:12px">  Event description ... </p>
                <h6>
                    <a href="#">event 3</a>
                </h6>
                <p style="font-size:12px">  Event description  ... </p>
            </div>
        </div>
    </div>