@{
   
    ViewData["Title"] = "Supporter Home Page";
    @model IQueryable<BluePrint>;
    
}


<div class="d-flex flex-column align-items-center">

    <div class="d-flex flex-row">
        <h1 class="display-2">My BluePrints</h1>
        <img src="~/parrotbusiness1.png" width="100px" "height=100px" />
    </div>

        @foreach (var bluePrint in Model) {
            <div class="d-flex flex-row">

                <div class="w-75 d-flex jumbotron shadow hoverf flex-column flex-grow-1">
                    <div class="d-flex flex-column justify-content-between">
                        
                        <h3 class="display-5">@bluePrint.Name</h3>
                        <p>@bluePrint.Description</p>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <h4 class="p-3 text-success">+</h4>
                    <h4 class="p-3 text-danger">-</h4>
                </div>
            </div>
        }




    
   
</div>
