@{
    ViewData["Title"] = "Supporter Home Page";
    @model User;
    
}


<div class="text-center">
    <form method="post" action="Settings">
        <button class="btn btn-primary">Settings</button>
    </form>

    <h1 class="display-1">Supporter</h1>
    <h1 class="display-4 jumbotron">Welcome @LoggedInUser.LoggedInUsr.Username</h1>
    
   
</div>
