<!--
    User Settings, when Save Settings is clicked will take you back to /User/Home
    TODO: Actually save the settings
-->


@{
    ViewData["Title"] = "UserSettings";
    @model SupportorSettings;
    
}


<div class="d-1 d-flex flex-column w-100">
    <h1 class="display-4 align-self-start p-4">Settings</h1>





    <form method="POST" id="saveSettings" action="Home" >

        <div class="d-flex flex-row align-items-center">
            <h4 class="p-2">Receive Email Updates</h4>
            <input type="checkbox"  class ="form-control w-25" placeholder="@Model.GetEmailUpdates" name="url"/>
        </div>

        
        <input type="submit" class ="btn btn-primary flex-shrink-1" value="Save Settings"/>
    </form>


</div>