@{
    ViewData["Title"] = "Builder Home Page";
    @model UserBluePrint;
    
}


<div class="text-center">


    <form method="post" action="Settings">
        <button class="btn btn-primary">Settings</button>
    </form>
    <h1 class="display-1">Builder</h1>
    <h2>@Model.BluePrint.Name</h2>
   <h1 class="display-4 jumbotron">Welcome </h1>
    
   
</div>
