@{
    ViewData["Title"] = "Builder Home Page";
    @model User;
    
}


<div class="text-center">

    <div class="align-items-center d-flex flex-row justify-content-between">
        <h1 class="display-1">Builder</h1>

        <!-- TODO: Add Settings Icon?-->
        <form method="post" action="Settings">
            <button class="btn btn-dark">Settings</button>
        </form>

    </div>
        <h1 class="display-4 jumbotron">Welcome @LoggedInUser.LoggedInUsr.Username!</h1>
    </div>
